.applicant-block
  .applicant-body-section
  .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0;
  text-align: center;
  color: #d0d5dd;
}

.applicant-block .applicant-body-section .css-j204z7-MuiFormControlLabel-root {
  padding: 0;
  text-align: center;
  color: #d0d5dd;
  margin: 0;
}

.applicant-block .applicant-body-section table thead th {
  border: 1px solid #e0e0e0;
  padding: 14px 16px;
  font-weight: 600;
}

.applicant-block .applicant-body-section table tbody td {
  padding: 14px 16px;
}

.applicant-block
  .applicant-body-section
  .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: #66b2b2;
}

.applicant-block .applicant-body-section .status {
  padding: 2px 0px;
  border-radius: 16px;
}

.applicant-block .applicant-body-section .action-type {
  padding: 0;
}
