.logs-table table {
  width: 100%;
  border: 1px solid #dedede;
}

.logs-table table th {
  background-color: #f8f9fa;
}

.logs-table table th,
td {
  padding: 14px 24px;
  border: 1px solid #d0d5dd;
  font-size: 14px;
  text-align: left;
}
